.example-container {
    width: 90%;
    height: 1000px;
    margin: 10px;
    border: 1px solid #555;
  }
  
  .side-drawer {
    width: 450px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .list-items {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 10px;
  }

  .sublist-items {
    padding-left: 40px;
  }

  .icon-items {
    padding-left: 30px;
  }
